@model IEnumerable<WebAppBookList.Models.Book>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">The Book Library</h2>
        </div>
        <div class="col-6 d-flex p-2 justify-content-end">
            <a asp-controller="Book" asp-action="Create" class="btn btn-info d-flex p-2 justify-content-end">
                <i class="bi bi-plus-circle pl-1"></i>&nbsp;Create New Book
            </a>
            
        </div>
    </div>
</div>
<hr class="bg-primary"/>
<table class="table table-bordered table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>Name Of Book</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Date Of Publication</th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        @foreach(var book in Model){
            <tr>
                <td >@book.Name</td>
                <td >@book.Title</td>
                <td >@book.Genre</td>
                <td >@book.DateOfPublication.ToShortDateString()</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Book" asp-action="Edit" class="btn btn-primary" asp-route-id="@book.Id">
                            <i class="bi bi-pencil-square"></i>&nbsp;Edit
                        </a>
                        <a asp-controller="Book" asp-action="Delete" class="btn btn-danger" asp-route-id="@book.Id">
                            <i class="bi bi-trash3-fill"></i>&nbsp;Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
